*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.form-title {
  text-align: center;
  color: darkred;
  border-bottom: 2px solid #791111;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group-small {
  width: calc(50% - 7.5px);
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #791111;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ff5100;
}
