*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
}
.titulo{
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
  text-shadow: 3px 2px 2px gray;
  color: white;
  border-bottom: 1px solid white;
  width: 430px;
}
.galeria{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.galeria__imagen{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}
